CustomerInfo/Service Descriptors/CustomerInfoSvc.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/CustomerInfoSvc/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerInfoSvc" targetNamespace="http://www.tibco.com/CustomerInfoSvc/" xmlns:xsd1="http://bidv.service.envelop/data/CustomerInfo">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/CustomerInfoSvc/">
      <xsd:element name="GetCustInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetCustInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://bidv.service.envelop/data/CustomerInfo"
    		schemaLocation="../Schemas/CustomerInfo.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="GetCustInfoRequest">
    <wsdl:part element="xsd1:custInfoReq" name="request" />
  </wsdl:message>
  <wsdl:message name="GetCustInfoResponse">
    <wsdl:part element="xsd1:custInfoRes" name="response" />
  </wsdl:message>
  <wsdl:portType name="CustomerInfoSvc">
    <wsdl:operation name="GetCustInfo">
      <wsdl:input message="tns:GetCustInfoRequest"/>
      <wsdl:output message="tns:GetCustInfoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerInfoSvcSOAP" type="tns:CustomerInfoSvc">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCustInfo">
      <soap:operation soapAction="http://www.tibco.com/CustomerInfoSvc/GetCustInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerInfoSvc">
    <wsdl:port binding="tns:CustomerInfoSvcSOAP" name="CustomerInfoSvcSOAP">
      <soap:address location="CustomerInfoSvcSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
