DataObjects/Schemas/Datatypes/Common/ReturnResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ReturnResult" xmlns:tns="http://www.example.org/ReturnResult" elementFormDefault="qualified">

    <complexType name="ReturnResultType">
    	<sequence>
    		<element name="Status" type="boolean"></element>
    		<element name="Message" type="string"></element>
    	</sequence>
    </complexType>

    <element name="ReturnResult" type="tns:ReturnResultType"></element>
</schema>